$blue1: #D5F4F3
$blue2: #4BCFCA
$blue3: #05C4BD
$blue4: #00807C

$darkblue: #003C3A
$darkblue2: #6d7a7a
$darkblue3: #818a8a

$lightblue1: #cad0d0
$lightblue2: #b6baba

$ice: #fafafa
$black: #161616
$black2: #262626

$orange1: #FFEDDE
$orange2: #FFA55D
$orange3: #fb8d35
$orange4: #D35E00
$brown: #632C00

$red1: #d42b0e
