@import 'base'

.complexity-select
  width: 100%
  padding: 0px 90px
  text-align: center
  label
    position: relative
    margin: 0px 15px
    &:hover
      cursor: pointer
    input:checked + div.selectable-image
      img
        border-color: $orange3
    input
      visibility: hidden
      position: absolute
    img
      border: 3px solid darken($ice, 25%)
      border-radius: 50%
      width: 75px
      height: auto
      position: relative
      z-index: 20
      transition: border ease 0.5s
      box-shadow: 2px 2px 3px #9d9d9d
    img:hover
      border: 3px solid darken($ice, 35%)
      transition: border ease 0.5s
